.*
.aws
.env
.eslintcache
.example.env
.gif
.git
.github
.png
.pnp.*
.tsconfig*
.vscode
.yarn/*
*.eslintcache
*.tsbuildinfo
**/*.snap
**/*.spec.ts
coverage
cspell.json
docs
jest.config.js
node_modules
rollup.config.ts
tsconfig*
yarn.lock